<!doctype html>
<html ng-app="waterfall">
  <head>
    <meta charset="utf-8">
    <title>Waterfall</title>
  </head>
  <body ng-controller="WaterfallController">

    <div id="waterfall">
      <div ng-repeat="message in messages.slice().reverse()" style="
        position:   relative;
        color:      rgb({{ message.rgb.join(',') }});
        font-size:  {{ message | getFontSize }}px;
        left:       {{ message | getPercentProgress:now }}%;
        opacity:    {{ message | getOpacity:now }};
      ">{{ message.text }}</div>
    </div>

    <form>
        <input type="text" ng-model="newMessage" size="50" maxlength="255" />
        <button ng-click="toss()">toss</button>
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src='//cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
    <script src='//cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js'></script>
    <script src="js/waterfall.js"></script>

  </body>
</html>